*
!/.gitignore
!/README.md
!/apps/
!/apps/**
!/infra/
!/infra/**
!/scripts/
!/scripts/**

/apps/**/node_modules/
/apps/**/dist/
/apps/**/build/
/apps/**/.gradle/
/apps/**/.env
/infra/**/.env
**/__pycache__/
*.pyc
